<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!-- The configs to connect to TFL API - Starts -->
    <add key="TFLApi" value="https://api.tfl.gov.uk/{0}" />
    <add key="TFLApiParams" value="?app_id={1}&amp;app_key={2}" />
    <add key="appId" value="" />
    <add key="appKey" value="" />
    <!-- The configs to connect to TFL API - Ends -->
    
    <!-- The User agent string -->
    <add key="userAgentString" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit / 537.36(KHTML, like Gecko) Chrome / 58.0.3029.110 Safari / 537.36" />

    <!-- The URI returned for Unauthorised error from TFL API -->
    <!-- This seems to be the only way to capture the Unauthorised status since the request itself is returning back with 200 OK status -->
    <add key="unauthorisedUri" value="https://api.tfl.gov.uk/static-messages/401.html"/>

    <!-- The list of API URLs - Starts -->
    <add key="RoadStatus" value="Road/{0}" />
    <!-- The list of API URLs - Ends -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>