<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- The configs to connect to TFL API - Starts -->
      <add key="TFLApi" value="https://api.tfl.gov.uk/{0}" />
      <add key="TFLApiParams" value="?app_id={1}&amp;app_key={2}" />
      <add key="appId" value="" />
      <add key="appKey" value="" />
      <!-- The configs to connect to TFL API - Ends -->

      <!-- The User agent string -->
      <add key="userAgentString" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit / 537.36(KHTML, like Gecko) Chrome / 58.0.3029.110 Safari / 537.36" />

      <!-- The URI returned for Unauthorised error from TFL API -->
      <!-- This seems to be the only way to capture the Unauthorised status since the request itself is returning back with 200 OK status -->
      <add key="unauthorisedUri" value="https://api.tfl.gov.uk/static-messages/401.html"/>

      <!-- The list of API URLs - Starts -->
      <add key="RoadStatus" value="Road/{0}" />
      <!-- The list of API URLs - Ends -->
    </appSettings>
</configuration>